<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-button fill="clear" class="ion-margin" (click)="navCtrl.back()">
      <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
    </ion-button>
  </ion-list>
  <div class="popover">
    <ion-card>
      <ion-card-content>
        Su estado de salud en general es:
        <br>
        <ion-chip color="success">
          <ion-label>Normal</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-margin">
    <ion-item lines="none">
      <ion-label class="title">Guardar presión arterial:</ion-label>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter Username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter Password" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin ion-text-center">
    <ion-button expand="block" shape="round">Guardar dato</ion-button>
  </ion-list>

  <ion-item lines="none">
    <ion-label class="title">Datos presión arterial:</ion-label>
  </ion-item>

  <ion-item lines="none">
    <table class="custom-table">
      <thead>
        <tr class="custom-table-header">
          <th>Valor</th>
          <th>Fecha - Hora</th>
          <th>Rango</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>120/30</td>
          <td>07/10/2013 18:32</td>
          <td>
            <ion-chip color="success">
              <ion-label>Normal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <tr>
          <td>190/100</td>
          <td>07/10/2013 21:10</td>
          <td>
            <ion-chip color="danger">
              <ion-label>Anormal</ion-label>
            </ion-chip>
          </td>
        </tr>
        <!-- Agrega más filas según tus datos -->
      </tbody>
    </table>
  </ion-item>

</ion-content>